{% extends 'base.html.twig' %}

{% block title %}SpaceShip{% endblock %}

{% block body %}
    <h1>SpaceShip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ space_ship.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ space_ship.matricule }}</td>
            </tr>
            <tr>
                <th>FuelType</th>
                <td>{{ space_ship.fuelType }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ space_ship.size }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('space_ship_index') }}">back to list</a>

    <a href="{{ path('space_ship_edit', {'id': space_ship.id}) }}">edit</a>

    {{ include('space_ship/_delete_form.html.twig') }}
{% endblock %}